In [1]:
import numpy as np
import datetime
import matplotlib.pyplot as plt
from scipy.stats import skew
from scipy.stats import kurtosis
import scipy.stats as stat
%matplotlib inline
import pandas as pd
import seaborn as sns
from sklearn.datasets import load_iris
from sklearn.cross_validation import train_test_split
from sklearn import metrics

C:\Users\harsmoha\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
titanic = pd.read_csv('Titanic/train.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
#Using decision tree without any data cleaning on the dataset

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.cross_validation import train_test_split

In [6]:
from sklearn.preprocessing import Imputer

In [7]:
imp = Imputer(axis=0,missing_values='NaN',strategy='median')
temp = imp.fit_transform(titanic['Age'].reshape(-1,1))
titanic['Age'] = temp
titanic.head()

C:\Users\harsmoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
Embarked_Dummy = pd.get_dummies(titanic.Embarked,prefix='Embarked')
titanic = pd.concat([titanic,Embarked_Dummy],axis=1)
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,1

In [9]:
Pclass_Dummy = pd.get_dummies(titanic.Pclass,prefix='Pclass')
titanic = pd.concat([titanic,Pclass_Dummy],axis=1)

In [10]:
Sex_Dummy = pd.get_dummies(titanic.Sex,prefix='Sex')
titanic = pd.concat([titanic,Sex_Dummy],axis=1)

In [11]:
SibSp_Dummy = pd.get_dummies(titanic.SibSp,prefix='SibSp')
titanic = pd.concat([titanic,SibSp_Dummy],axis=1)

In [12]:
Parch_Dummy = pd.get_dummies(titanic.Parch,prefix='Parch')
titanic = pd.concat([titanic,Parch_Dummy],axis=1)

In [13]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Embarked_C',
       'Embarked_Q', 'Embarked_S', 'Pclass_1', 'Pclass_2', 'Pclass_3',
       'Sex_female', 'Sex_male', 'SibSp_0', 'SibSp_1', 'SibSp_2', 'SibSp_3',
       'SibSp_4', 'SibSp_5', 'SibSp_8', 'Parch_0', 'Parch_1', 'Parch_2',
       'Parch_3', 'Parch_4', 'Parch_5', 'Parch_6'],
      dtype='object')

In [14]:
titanicDF = titanic.iloc[:,(list(range(1,2)) + list(range(5,6)) + list(range(9,10)) + list(range(12,titanic.shape[1])))]
titanicDF.columns

Index(['Survived', 'Age', 'Fare', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
       'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female', 'Sex_male', 'SibSp_0',
       'SibSp_1', 'SibSp_2', 'SibSp_3', 'SibSp_4', 'SibSp_5', 'SibSp_8',
       'Parch_0', 'Parch_1', 'Parch_2', 'Parch_3', 'Parch_4', 'Parch_5',
       'Parch_6'],
      dtype='object')

In [15]:
Titanictrain1, Titanictest1 = train_test_split(titanicDF,test_size=0.2,random_state=10)

In [16]:
Titanictrain1X = Titanictrain1.iloc[:,1:titanicDF.shape[1]]
Titanictrain1X.head()

,Age,Fare,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,...,SibSp_4,SibSp_5,SibSp_8,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6
57,28.5,7.2292,1,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
717,27.0,10.5000,0,0,1,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0
431,28.0,16.1000,0,0,1,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
633,28.0,0.0000,0,0,1,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
163,17.0,8.6625,0,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0

In [17]:
Titanictrain1Y = Titanictrain1.Survived
Titanictrain1Y.head()

57     0
717    1
431    1
633    0
163    0
Name: Survived, dtype: int64

In [18]:
Titanictest1X = Titanictest1.iloc[:,1:titanicDF.shape[1]]
Titanictest1X.head()

,Age,Fare,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,...,SibSp_4,SibSp_5,SibSp_8,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6
590,35.0,7.1250,0,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
131,20.0,7.0500,0,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
628,26.0,7.8958,0,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
195,58.0,146.5208,1,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
230,35.0,83.4750,0,0,1,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0

In [19]:
Titanictest1Y = Titanictest1.Survived
Titanictest1Y.head()

590    0
131    0
628    0
195    1
230    1
Name: Survived, dtype: int64

In [20]:
dt1 = DecisionTreeClassifier(max_depth=6,min_samples_split=10,random_state=15)

In [25]:
dt1.fit(Titanictrain1X,Titanictrain1Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=6,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=10,
            min_weight_fraction_leaf=0.0, presort=False, random_state=15,
            splitter='best')

In [26]:
predicted1 = dt1.predict(Titanictest1X)

In [27]:
print (metrics.classification_report(Titanictest1Y,predicted1))

             precision    recall  f1-score   support

          0       0.85      0.89      0.87       117
          1       0.77      0.69      0.73        62

avg / total       0.82      0.82      0.82       179

In [28]:
auc = metrics.roc_auc_score(Titanictest1Y,predicted1)
print (auc)

0.791218637993

In [29]:
#Using GridSearch cross validation

In [30]:
from sklearn.grid_search import GridSearchCV
from time import time
from operator import itemgetter

C:\Users\harsmoha\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [31]:
#This function performs a grid search with cross validation and returns the accuracy values 
def GridSearch_BestParam(X, y, clf, param_grid, cv=5):
    """Run a grid search for best Decision Tree parameters.

    Args
    ----
    X -- features
    y -- targets (classes)
    cf -- scikit-learn Decision Tree
    param_grid -- [dict] parameter settings to test
    cv -- fold of cross-validation, default 5

    Returns
    -------
    top_params -- [dict] from report()
    """
    grid_search = GridSearchCV(clf,
                               param_grid=param_grid,
                               cv=cv)
    start = time()
    grid_search.fit(X, y)

    print(("\nGridSearchCV took {:.2f} "
           "seconds for {:d} candidate "
           "parameter settings.").format(time() - start,
                len(grid_search.grid_scores_)))

    top_params = grid_search.grid_scores_
    return  top_params

In [32]:
param_grid = {"criterion":["gini","entropy"],"min_samples_split":[2,10,20],"max_depth":[None,2,5,10],
             "min_samples_leaf":[1,5,10]}

In [33]:
cvDT = DecisionTreeClassifier()

In [34]:
#cv refers to the number of subsets of data created by algorithm
topparams= GridSearch_BestParam(Titanictrain1X,Titanictrain1Y,cvDT,param_grid,cv =10)
topparams

GridSearchCV took 3.30 seconds for 72 candidate parameter settings.

[mean: 0.76264, std: 0.03842, params: {'criterion': 'gini', 'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2},
 mean: 0.77528, std: 0.05000, params: {'criterion': 'gini', 'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 10},
 mean: 0.79073, std: 0.05571, params: {'criterion': 'gini', 'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 20},
 mean: 0.78230, std: 0.03791, params: {'criterion': 'gini', 'max_depth': None, 'min_samples_leaf': 5, 'min_samples_split': 2},
 mean: 0.78652, std: 0.03813, params: {'criterion': 'gini', 'max_depth': None, 'min_samples_leaf': 5, 'min_samples_split': 10},
 mean: 0.78933, std: 0.05651, params: {'criterion': 'gini', 'max_depth': None, 'min_samples_leaf': 5, 'min_samples_split': 20},
 mean: 0.78230, std: 0.03540, params: {'criterion': 'gini', 'max_depth': None, 'min_samples_leaf': 10, 'min_samples_split': 2},
 mean: 0.78371, std: 0.03492, params: {'criterion': 'gini', 'max_depth': None, 'min_samples_leaf': 10, 'min_samples_split': 10},
 mean: 0.78230, std: 0.03540, params: {'criterion': 'gini', 'max_depth': None, 'min_samples_leaf': 10, 'min_samples_split': 20},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'gini', 'max_depth': 2, 'min_samples_leaf': 1, 'min_samples_split': 2},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'gini', 'max_depth': 2, 'min_samples_leaf': 1, 'min_samples_split': 10},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'gini', 'max_depth': 2, 'min_samples_leaf': 1, 'min_samples_split': 20},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'gini', 'max_depth': 2, 'min_samples_leaf': 5, 'min_samples_split': 2},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'gini', 'max_depth': 2, 'min_samples_leaf': 5, 'min_samples_split': 10},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'gini', 'max_depth': 2, 'min_samples_leaf': 5, 'min_samples_split': 20},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'gini', 'max_depth': 2, 'min_samples_leaf': 10, 'min_samples_split': 2},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'gini', 'max_depth': 2, 'min_samples_leaf': 10, 'min_samples_split': 10},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'gini', 'max_depth': 2, 'min_samples_leaf': 10, 'min_samples_split': 20},
 mean: 0.80197, std: 0.04935, params: {'criterion': 'gini', 'max_depth': 5, 'min_samples_leaf': 1, 'min_samples_split': 2},
 mean: 0.79494, std: 0.05311, params: {'criterion': 'gini', 'max_depth': 5, 'min_samples_leaf': 1, 'min_samples_split': 10},
 mean: 0.79073, std: 0.05805, params: {'criterion': 'gini', 'max_depth': 5, 'min_samples_leaf': 1, 'min_samples_split': 20},
 mean: 0.79354, std: 0.05348, params: {'criterion': 'gini', 'max_depth': 5, 'min_samples_leaf': 5, 'min_samples_split': 2},
 mean: 0.79354, std: 0.05348, params: {'criterion': 'gini', 'max_depth': 5, 'min_samples_leaf': 5, 'min_samples_split': 10},
 mean: 0.79213, std: 0.05781, params: {'criterion': 'gini', 'max_depth': 5, 'min_samples_leaf': 5, 'min_samples_split': 20},
 mean: 0.79494, std: 0.04568, params: {'criterion': 'gini', 'max_depth': 5, 'min_samples_leaf': 10, 'min_samples_split': 2},
 mean: 0.79494, std: 0.04568, params: {'criterion': 'gini', 'max_depth': 5, 'min_samples_leaf': 10, 'min_samples_split': 10},
 mean: 0.79213, std: 0.04663, params: {'criterion': 'gini', 'max_depth': 5, 'min_samples_leaf': 10, 'min_samples_split': 20},
 mean: 0.78230, std: 0.04375, params: {'criterion': 'gini', 'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 2},
 mean: 0.78792, std: 0.04865, params: {'criterion': 'gini', 'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 10},
 mean: 0.79213, std: 0.05438, params: {'criterion': 'gini', 'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 20},
 mean: 0.78933, std: 0.04353, params: {'criterion': 'gini', 'max_depth': 10, 'min_samples_leaf': 5, 'min_samples_split': 2},
 mean: 0.79494, std: 0.04354, params: {'criterion': 'gini', 'max_depth': 10, 'min_samples_leaf': 5, 'min_samples_split': 10},
 mean: 0.78933, std: 0.05509, params: {'criterion': 'gini', 'max_depth': 10, 'min_samples_leaf': 5, 'min_samples_split': 20},
 mean: 0.78230, std: 0.03540, params: {'criterion': 'gini', 'max_depth': 10, 'min_samples_leaf': 10, 'min_samples_split': 2},
 mean: 0.78371, std: 0.03492, params: {'criterion': 'gini', 'max_depth': 10, 'min_samples_leaf': 10, 'min_samples_split': 10},
 mean: 0.78371, std: 0.03492, params: {'criterion': 'gini', 'max_depth': 10, 'min_samples_leaf': 10, 'min_samples_split': 20},
 mean: 0.75421, std: 0.03695, params: {'criterion': 'entropy', 'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2},
 mean: 0.76124, std: 0.02568, params: {'criterion': 'entropy', 'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 10},
 mean: 0.78511, std: 0.05389, params: {'criterion': 'entropy', 'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 20},
 mean: 0.78511, std: 0.04147, params: {'criterion': 'entropy', 'max_depth': None, 'min_samples_leaf': 5, 'min_samples_split': 2},
 mean: 0.78652, std: 0.04366, params: {'criterion': 'entropy', 'max_depth': None, 'min_samples_leaf': 5, 'min_samples_split': 10},
 mean: 0.78792, std: 0.04237, params: {'criterion': 'entropy', 'max_depth': None, 'min_samples_leaf': 5, 'min_samples_split': 20},
 mean: 0.77669, std: 0.04628, params: {'criterion': 'entropy', 'max_depth': None, 'min_samples_leaf': 10, 'min_samples_split': 2},
 mean: 0.77809, std: 0.04726, params: {'criterion': 'entropy', 'max_depth': None, 'min_samples_leaf': 10, 'min_samples_split': 10},
 mean: 0.77669, std: 0.04628, params: {'criterion': 'entropy', 'max_depth': None, 'min_samples_leaf': 10, 'min_samples_split': 20},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'entropy', 'max_depth': 2, 'min_samples_leaf': 1, 'min_samples_split': 2},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'entropy', 'max_depth': 2, 'min_samples_leaf': 1, 'min_samples_split': 10},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'entropy', 'max_depth': 2, 'min_samples_leaf': 1, 'min_samples_split': 20},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'entropy', 'max_depth': 2, 'min_samples_leaf': 5, 'min_samples_split': 2},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'entropy', 'max_depth': 2, 'min_samples_leaf': 5, 'min_samples_split': 10},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'entropy', 'max_depth': 2, 'min_samples_leaf': 5, 'min_samples_split': 20},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'entropy', 'max_depth': 2, 'min_samples_leaf': 10, 'min_samples_split': 2},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'entropy', 'max_depth': 2, 'min_samples_leaf': 10, 'min_samples_split': 10},
 mean: 0.76826, std: 0.04768, params: {'criterion': 'entropy', 'max_depth': 2, 'min_samples_leaf': 10, 'min_samples_split': 20},
 mean: 0.79775, std: 0.04521, params: {'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 1, 'min_samples_split': 2},
 mean: 0.79494, std: 0.04853, params: {'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 1, 'min_samples_split': 10},
 mean: 0.78933, std: 0.04953, params: {'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 1, 'min_samples_split': 20},
 mean: 0.78792, std: 0.04365, params: {'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 5, 'min_samples_split': 2},
 mean: 0.78652, std: 0.04561, params: {'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 5, 'min_samples_split': 10},
 mean: 0.79494, std: 0.04310, params: {'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 5, 'min_samples_split': 20},
 mean: 0.79916, std: 0.05273, params: {'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 10, 'min_samples_split': 2},
 mean: 0.79635, std: 0.05519, params: {'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 10, 'min_samples_split': 10},
 mean: 0.79635, std: 0.05519, params: {'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 10, 'min_samples_split': 20},
 mean: 0.78792, std: 0.03242, params: {'criterion': 'entropy', 'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 2},
 mean: 0.79354, std: 0.04657, params: {'criterion': 'entropy', 'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 10},
 mean: 0.78652, std: 0.05957, params: {'criterion': 'entropy', 'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 20},
 mean: 0.78371, std: 0.04763, params: {'criterion': 'entropy', 'max_depth': 10, 'min_samples_leaf': 5, 'min_samples_split': 2},
 mean: 0.78371, std: 0.04187, params: {'criterion': 'entropy', 'max_depth': 10, 'min_samples_leaf': 5, 'min_samples_split': 10},
 mean: 0.78511, std: 0.03672, params: {'criterion': 'entropy', 'max_depth': 10, 'min_samples_leaf': 5, 'min_samples_split': 20},
 mean: 0.77669, std: 0.04628, params: {'criterion': 'entropy', 'max_depth': 10, 'min_samples_leaf': 10, 'min_samples_split': 2},
 mean: 0.77669, std: 0.04628, params: {'criterion': 'entropy', 'max_depth': 10, 'min_samples_leaf': 10, 'min_samples_split': 10},
 mean: 0.77809, std: 0.04726, params: {'criterion': 'entropy', 'max_depth': 10, 'min_samples_leaf': 10, 'min_samples_split': 20}]

In [35]:
topScore = sorted(topparams,key = itemgetter(1),reverse = True)
paramCV = topScore[0].parameters
paramCV

{'criterion': 'gini',
 'max_depth': 5,
 'min_samples_leaf': 1,
 'min_samples_split': 2}

In [36]:
dt2=DecisionTreeClassifier(max_depth=paramCV['max_depth'],
                                   min_samples_leaf=paramCV['min_samples_leaf'],
                                  min_samples_split = paramCV['min_samples_split'],
                                  criterion =paramCV['criterion'] )

In [37]:
dt2.fit(Titanictrain1X,Titanictrain1Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [38]:
predicted2 = dt2.predict(Titanictest1X)

In [39]:
#Improvement of 1% over simple decision tree implementation
print (metrics.classification_report(Titanictest1Y,predicted2))

             precision    recall  f1-score   support

          0       0.86      0.91      0.88       117
          1       0.80      0.73      0.76        62

avg / total       0.84      0.84      0.84       179

In [40]:
#Print importance of features
tempDF = pd.DataFrame()
tempDF['Features'] = Titanictrain1X.columns
tempDF['Importance'] = dt2.feature_importances_
tempDF = tempDF.iloc[np.argsort(tempDF['Importance'])[::-1], :]
tempDF

      Features  Importance
9     Sex_male    0.517713
1         Fare    0.162516
7     Pclass_3    0.133599
0          Age    0.086619
5     Pclass_1    0.038831
6     Pclass_2    0.032594
4   Embarked_S    0.021305
2   Embarked_C    0.004651
22     Parch_5    0.002173
3   Embarked_Q    0.000000
8   Sex_female    0.000000
10     SibSp_0    0.000000
23     Parch_6    0.000000
12     SibSp_2    0.000000
13     SibSp_3    0.000000
14     SibSp_4    0.000000
15     SibSp_5    0.000000
16     SibSp_8    0.000000
17     Parch_0    0.000000
18     Parch_1    0.000000
19     Parch_2    0.000000
20     Parch_3    0.000000
21     Parch_4    0.000000
11     SibSp_1    0.000000

In [41]:
#Using ensemble methods, starting with random forest and then gradient boost

In [42]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
#RF without GridSearchCV
rf1 = RandomForestClassifier(max_features=10,n_estimators=500)

In [44]:
rf1.fit(Titanictrain1X,Titanictrain1Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=10, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [45]:
predicted3 = rf1.predict(Titanictest1X)

In [46]:
print (metrics.classification_report(Titanictest1Y,predicted3))

             precision    recall  f1-score   support

          0       0.88      0.86      0.87       117
          1       0.75      0.77      0.76        62

avg / total       0.83      0.83      0.83       179

In [47]:
#RF with GridSearchCV

In [48]:
param_grid = {"criterion":["gini","entropy"],"max_features":[3,4,5,6,7],"max_depth":[None,2,5,10]}

In [49]:
rf2 = RandomForestClassifier(max_features=10,n_estimators=500)

In [50]:
gridsearchcv = GridSearch_BestParam(Titanictrain1X,Titanictrain1Y,rf2,param_grid,cv =10)

GridSearchCV took 310.54 seconds for 40 candidate parameter settings.

In [51]:
topScore = sorted(gridsearchcv,key = itemgetter(1),reverse = True)
paramCV = topScore[0].parameters
paramCV

{'criterion': 'entropy', 'max_depth': 10, 'max_features': 7}

In [52]:
rf3 = RandomForestClassifier(max_features=paramCV['max_features'],max_depth=paramCV['max_depth'],criterion=paramCV['criterion'])
rf3.fit(Titanictrain1X,Titanictrain1Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=10, max_features=7, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [53]:
predicted4 = rf3.predict(Titanictest1X)

In [54]:
print (metrics.classification_report(Titanictest1Y,predicted4))

             precision    recall  f1-score   support

          0       0.85      0.90      0.87       117
          1       0.78      0.69      0.74        62

avg / total       0.82      0.83      0.82       179

In [55]:
#Using gradient boost classifier

In [56]:
from sklearn.ensemble import GradientBoostingClassifier

In [57]:
gbTitanic = GradientBoostingClassifier(n_estimators =500, max_depth=6,learning_rate=0.02)
gbTitanic.fit(Titanictrain1X,Titanictrain1Y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.02, loss='deviance', max_depth=6,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=500,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [58]:
predicted5 = gbTitanic.predict(Titanictest1X)

In [59]:
print (metrics.classification_report(Titanictest1Y,predicted5))

             precision    recall  f1-score   support

          0       0.86      0.87      0.86       117
          1       0.75      0.73      0.74        62

avg / total       0.82      0.82      0.82       179

In [1]:
#Using SVC

In [2]:
from sklearn.svm import SVC
from sklearn.svm import LinearSVC

In [60]:
svc = SVC(C=1.0,gamma=0.5,kernel='rbf')

In [61]:
svc.fit(Titanictrain1X,Titanictrain1Y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.5, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [62]:
predicted6 = svc.predict(Titanictest1X)

In [63]:
print (metrics.classification_report(Titanictest1Y,predicted6))

             precision    recall  f1-score   support

          0       0.70      0.91      0.79       117
          1       0.61      0.27      0.38        62

avg / total       0.67      0.69      0.65       179

In [64]:
auc = metrics.roc_auc_score(Titanictest1Y,predicted6)
print (auc)

0.590088227185

In [65]:
#Using LinearSVC

In [66]:
linearsvc = LinearSVC(loss='squared_hinge',C=4)
linearsvc.fit(Titanictrain1X,Titanictrain1Y)

LinearSVC(C=4, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [67]:
predicted7 = linearsvc.predict(Titanictest1X)

In [68]:
print (metrics.classification_report(Titanictest1Y,predicted7))

             precision    recall  f1-score   support

          0       0.83      0.94      0.88       117
          1       0.85      0.63      0.72        62

avg / total       0.83      0.83      0.83       179

In [69]:
auc = metrics.roc_auc_score(Titanictest1Y,predicted7)
print (auc)

0.784601599118